{% extends 'base.html' %}

{% block contenido %}
    <form class="register-form">
        <input type="text" placeholder="usuario"/> <!--text creo que es el nombre de la variable en html-->
        <input type="password" placeholder="password"/><!--password creo que es el nombre de la variable en html-->
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
        <input type="text" placeholder= usuario name="usuario" required/>
        <input type="password" placeholder= contraseña name="contraseña" required/>
        <!--<input type="button" value="Ingresar"/>-->
        <button>ingresar</button>
        <p class="message">Eres nuevo? <a href="{{url_for('registroCliente')}}">Registrate aquí</a></p>
        </form>
{% endblock %}
